navegacion {
    display: block;
    background-color:
      var(--colorNavegar);
  }
  
  navegacion ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  navegacion ul li {
    margin: 0.5rem;
  }